body{
  font-family: 'Noto Serif JP', serif;
  font-weight: 200;
  color: #fef4f4;
  background-color: #180614;
}
header{
  text-align: center;
  height: 70px;
}
.subtitle{
  font-size: 10px;
}
ul{
  list-style: none;
  float: left;
}
.mainlist{
  padding-left: 20px;
  width: auto;
}
.sublist{
  font-size: 10px;

}
